@model LoginDto

<h2>Iniciar Sesión</h2>

<form asp-action="Index" method="post">
    <div>
        <label for="CorreoElectronico">Correo Electrónico:</label>
        <input asp-for="CorreoElectronico" class="form-control" />
        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
    </div>

    <div>
        <label for="Contrasena">Contraseña:</label>
        <input asp-for="Contrasena" type="password" class="form-control" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

<p>¿No tienes una cuenta? <a asp-action="Register">Regístrate aquí</a>.</p>
